#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #ff4081 #242424;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #242424;
}

*::-webkit-scrollbar-thumb {
  background-color: #ff4081;
  border-radius: 10px;
  border: 45px none #ffffff;
}
body{
  background-color: #1a1a1a;
}
.card-block{
  margin: 15px 0 0 43px;
}